.stylenavigate{
    display: inline-block;
    background: salmon;
    color: white;
    padding: 10 px 30px;
    text-decoration: none;
}

.stylenavigate:hover{
    background:rosybrown;
}

.stylenavigate{
    background: rebeccapurple;
padding: 10px;
}